[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pipenv-setup = "*"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"
tqdm = "*"
networkx = "*"
xgboost = "*"
numerapi = "*"
seaborn = "*"
pylint = "*"
keras = "*"
tensorflow = "*"
tables = "*"
click = "*"
setuptools = "*"
aigovivo = {editable = true, path = "."}
imblearn = "*"
joblib = "*"

[requires]
python_version = "3.8"
